.mobile-view{
  display: none;
}

.desktop-view {
  display: block;
}

body {
  background-color: #393e46a0;
}

.table {
  background-color: #222831;
  width: fit-content;
  margin: auto;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
  color: #f2f2f2;
  line-height: 30px;
  letter-spacing: 4px;
  font-weight: 100;
}

tr {
  background-color: #393e46;
}

tr:nth-child(1) {
  background-color: #f96d00;
}


@media only screen and (max-width: 600px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  body {
    background-color: #393e46cb;
    margin: 0;
  }
  input {
    appearance: none;
    display: none;
  }
  label {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
  }

  input:checked + label {
    background-color: #393e46;
    border-radius: 30px;
    color: #f2f2f2;
    transition: .6s;
  }

  .selector {
    display: flex;
    flex-grow: 1;
    width: 90%;
    margin: auto;
    background-color: #f96d00;
    letter-spacing: 4px;
    line-height: 10px;
    color: #222831;
    border-radius: 30px;
  }
  
  form {
    margin: 30px auto 30px auto;
  }

  .content {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  /* .periods {
    width: 90vw;
  } */

  .perDesign {
    width: 80vw;
    display: grid;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #222831;
    color: #f2f2f2;
    /* border: 2px solid #f2f2f2; */
    /* box-shadow: 2px 2px 10px #fffefe; */
  }

  .sec-line {
    display: flex;
    justify-content: space-between;
  }
}







/* .first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
} */